.tahoma-text {
	font-family: Tahoma;
	font-weight: bold;
	margin-bottom: 100px;
}
p {
	font-family: Verdana;
	margin-top: 0;
	margin-bottom: 0;
}

.title-text {
	font-weight: bold;
}

.beginner-text {
	color: rgb(108, 108, 108);
	margin-top: 3px;
	margin-bottom: 20px;
}

.description-text {
	width: 300px;
	margin-bottom: 15px;
}

.get-started-button {
	background-color: rgb(48, 112, 28);
	color: white;
	border: none;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 100px;
}

.title5b-text {
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 5px;
}

.sales-text {
	font-family: Arial;
	font-style: italic;
	color: red;
	margin-bottom: 100px;
}

.shopping-text {
	font-family: Arial;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.see-how-text {
	font-family: Arial;
	text-align: center;
	margin-bottom: 20px;
}

.learn-more-text {
	font-family: Arial;
	text-align: center;
	cursor: pointer;
	color: rgb(64, 95, 196);
}

.learn-more-text:hover {
	text-decoration: underline;
	
}