.request-now-button {
	background-color: black;
	color: white;
	border: none;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 16px;
	padding-right: 16px;
	cursor: pointer;
	margin-right: 10px;
	transition: 0.15s;
}

.request-now-button:hover {
	opacity: 0.8;
}

.add-to-cart-button {
	background-color: rgb(255, 216, 20);
	color: black;
	border: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 20px;
	margin-right: 10px;
	transition: 0.15s;
	cursor: pointer;
}

.add-to-cart-button:hover {
	background-color: rgb(238, 201, 16);;
}

.sign-up-button {
	background-color: rgb(46, 164, 79);
	color: white;
	border: none;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	transition: box-shadow 0.15s;
}

.sign-up-button:hover {
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
}

.get-started-button {
	background-color: rgb(121, 82, 179);
	color: white;
	border: none;
	margin-top: 10px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 19px;
	padding-right: 19px;
	font-weight: bold;
	font-size: 11px;
	border-radius: 5px;
	transition: background-color 0.15s;
	cursor: pointer;
}

.get-started-button:hover {
	background-color: rgb(95, 63, 143);
}

.download-button {
	background-color: white;
	color: rgb(108, 117, 125);
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 19px;
	padding-right: 19px;
	margin-left: 6px;
	font-weight: bold;
	font-size: 11px;
	transition: background-color 0.15s,
		color 0.15s;
	cursor: pointer;
}

.download-button:hover {
	background-color: rgb(108, 117, 125);
	color: white;
}

.apply-on-company-website-button {
	background-color: rgb(10, 102, 194);
	color: white;
	margin-top: 10px;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 12px;
	transition: background-color 0.15s;
	cursor: pointer;
}

.apply-on-company-website-button:hover {
	background-color: rgb(10, 83, 157);
}

.save-button {
	background-color: white;
	color: rgb(10, 102, 194);
	border-color: rgb(10, 102, 194);
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: bold;
	font-size: 13px;
	margin-left: 6px;
	transition: background-color 0.15s,
		border-width 0,15s;
	cursor: pointer;
}

.save-button:hover {
	background-color: rgba(10, 102, 194, 0.161);
	border-width: 2px;
}