p{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 25px;
}
.menu {
	margin: 30px;
	display: flex;
	flex-direction: column;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(198, 198, 198);
	border-radius: 10px;
	max-width: 500px;
	max-height: 250px;
	padding: 15px;
}
.message,
.notifications,
.home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.home {
	margin-bottom: 25px;
}

.notifications {
	margin-bottom: 25px;
}

.message-quantity,
.notifications-quantity,
.home-quantity {
	background-color: rgb(0, 89, 255);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	border-radius: 20px;
	font-weight: bold;
}