.red {
	background-color: red;
	display: block;
	width: 300px;
	height: 300px;
	margin-bottom: 50px;
}

.green {
	background-color: green;
	display: block;
	width: 300px;
	height: 300px;
	border-radius: 1000px;
}